<mat-toolbar role="header" class="fixed-header" color="primary">
  <mat-toolbar-row>
    <span class="img-icon">
      <img routerLink="/" style="cursor: pointer" src="../../../assets/darth_vader-icon.png" matTooltip="SHIIiii, SHUUuuu...">
    </span> &nbsp;
    <span>{{ title }}</span>
    <span class="general-spacer"></span>
    <button mat-raised-button
            routerLink="/characters"
            color="primary"
            class="accent">
      Characters
    </button>
    <button mat-raised-button
            routerLink="/starships"
            color="primary"
            class="accent">
      Starships
    </button>
  </mat-toolbar-row>
</mat-toolbar>
