.vader-wrapper img{
  width: 100%;
}

.text-style .quotes {
  font-family: fantasy;
  font-size: xx-large;
  color: #673ab7;
}
.text-style {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}

