<app-brand [endTitle]="' form'" [beginTitle]="'Characters'"></app-brand>

<app-messages></app-messages>

<app-character-form [character]="character"></app-character-form>

<mat-card class="content-spacer-cards">
  <h2>Characters List</h2>

  <mat-list>
    <mat-list-item
      *ngFor="let char of characters_all">
      {{char.name }} |
      {{char.gender }} |
      {{ char.planet ? char.planet.name : '---' }} |
      <button mat-raised-button
              color="primary"
              class="pull-right"
              (click)="character = char">Detail
      </button>
    </mat-list-item>
  </mat-list>

</mat-card>
