<app-brand [endTitle]="' form'" [beginTitle]="'Characters'"></app-brand>

<app-messages></app-messages>

<app-character-form [character]="character"></app-character-form>

<mat-card class="content-spacer-cards">
  <h2>Characters List</h2>

  <mat-table #table [dataSource]="characterDataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let character"> {{character.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="planet">
      <mat-header-cell *matHeaderCellDef> Planet</mat-header-cell>
      <mat-cell *matCellDef="let character"> {{ character.planet ? character.planet.name : '---' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let char">
        <button mat-raised-button
                color="primary"
                class="pull-right"
                (click)="character = char">Detail
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-card>
